body {
  background-color: #FFFFFF;
  color: black;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #F3C623;
  border-width: 10px;
  width: 2%;
}

h1 {
  color: #F3C623;
  font-family: Open Sauce,arial;
}

h3 {
  color: #F3C623;
  font-family: Open Sauce,arial;
}

a {
  text-decoration: none;
  color: black;
  }

a:hover {
  color: #F3C623;
}

.bio {
  width: 50%
}
